:root {
  /* Colores principales */
  --primary-color: #eef2d5;
  --secondary-color: #4caf50;
  --background-color: #f5f5f5;
  --text-color: #222;
  --accent-color: #c0b283;

  /* Tipografía */
  --font-family: "Roboto", "Arial", sans-serif;
}
